<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sauron Home Server</title>
    <meta name="description" content="Internal Server for my stuff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.17.0/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 70px;
            background-color: #d7d7d7;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" style="color:white;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="http://franhp.net/static/img/hackergotchi-little.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="collapsed-navbar">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'smart-downloader' %}" class="">smart_downloader</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">leagues <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% for league in leagues %}
                            <li><a href="{% url 'random-directory' league.name %}" class="">{{ league.name }}'s random</a></li>
                            <li><a href="{% url 'league' league.name %}" class="">{{ league.name }}'s league</a></li>
                            <li><a href="{% url 'random-video' league.name %}" class="">{{ league.name }}'s player</a></li>
                            <li><a href="{% url 'search-tag' league.name %}" class="">{{ league.name }}'s search_tag</a></li>
                            <li><a href="{% url 'ranking' league.name %}" class="">{{ league.name }}'s ranking</a></li>
                            {% if leagues.count > 1 %}<li role="separator" class="divider"></li>{% endif %}
                        {% endfor %}
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">internal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/sonarr" class="">sonarr</a></li>
                            <li><a href="/couchpotato" class="">couch potato</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin" class="">admin</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post" accept-charset="utf-8">
                    <small>logged as <strong>{{ user }}</strong>.&nbsp;</small>
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit"><i class="icon-off icon-white"></i> logout</button>
                </form>
            {% else %}
                <form class="navbar-form navbar-right" action="{% url 'login' %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <input class="span2" type="text" name="username" placeholder="Username" id="username" />
                    <input class="span2" type="password" name="password" placeholder="Password" id="password" />
                    <button class="btn btn-success" type="submit"><i class="icon-user icon-white"></i> login</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}Empty page{% endblock %}
</div> <!-- container -->

<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom">
  <div class="container" style="color:white;">
    <p class="pull-right">by <a href="http://franhp.net">Fran Hermoso</a></p>
  </div>
</nav>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block extra_javascript %}{% endblock %}

</body>
</html>
