{% extends 'base.html' %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.17.0/mediaelement-and-player.min.js"
        xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.17.0/mediaelementplayer.css" />
{% endblock %}

{% block content %}

    {% if videos %}

        <div class="col-sm-12 col-md-9">
            <h3>
                <form method="post" action="{% url 'random-directory' %}">
                    {% csrf_token %}

                    {% include 'popularity.html' with guessed_popularity=True %}
                    {{ videos.0.guessed_popularity }}?</span>
                    <small>({{ videos.0.duration|time:"H:i:s" }})</small>
                    {{ videos.0.name|slice:":30" }}...

                    <div class="btn-group  btn-group-lg" role="group">
                      <button type="submit" name="archive_id" value="{{ videos.0.id }}" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
                      <button type="submit" name="delete_id" value="{{ videos.0.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                    </div>
                </form>
            </h3>

            <video width="700" height="500" controls="controls" preload="none" poster="{{ STATIC_URL }}thumbnails/{{ videos.0.poster }}" >
                <source src="{{ MEDIA_URL }}{{ videos.0.video_rel_path }}" type="video/{{ videos.0.video_rel_path|slice:"-3:" }}" />
            </video>

            {% include 'video_info.html' with video=videos.0%}
        </div>

        <div class="col-md-3 col-sm-12 pull-right">
            <h2>All Videos <br><small>({{ videos|length }} remaining) ({{ total_size|filesizeformat }}) </small></h2>
            <table class="table">
            <thead>
            <td>Score</td><td>Name</td><td>Actions</td>
            </thead>
            <tr>
            {% for video in videos %}
                <tr>
                    <td>
                        {% include 'popularity.html' %}
                        {{ video.guessed_popularity }}</span></td>
                    <td>{{ video.name|slice:":25" }}</td>
                    <td>
                        <form method="post" action="{% url 'random-directory' %}">
                            {% csrf_token %}
                            <div class="btn-group  btn-group-xs" role="group">
                              <button type="submit" name="archive_id" value="{{ video.id }}" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> </button>
                              <button type="submit" name="delete_id" value="{{ video.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                            </div>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </table>
        </div>




    {% else %}
        <div class="alert alert-info"> <h4>Yay! No videos left!</h4></div>
    {% endif %}



{% endblock %}

{% block extra_javascript %}
<script>
$('video,audio').mediaelementplayer({
    // remove or reorder to change plugin priority
    plugins: ['flash','silverlight'],
    // specify to force MediaElement to use a particular video or audio type
    type: '',
    // path to Flash and Silverlight plugins
    pluginPath: '{{ STATIC_URL }}/plugins/',
    // name of flash file
    flashName: 'flashmediaelement.swf',
    // name of silverlight file
    silverlightName: 'silverlightmediaelement.xap',
    // rate in milliseconds for Flash and Silverlight to fire the timeupdate event
    // larger number is less accurate, but less strain on plugin->JavaScript bridge
    timerRate: 250
});

</script>
{% endblock %}
