{% extends 'base.html' %}

{% block content %}

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="$('.form-control').val('');get_videos();">Clear</button>
        </span>
    </div>


    <ul class="list-group">
    </ul>

{% endblock %}


{% block extra_javascript %}
<script>

function getURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
            return sParameterName[1];
        }
    }
}

function slug (value) {
  // 1) convert to lowercase
  // 2) remove dashes and pluses
  // 3) replace spaces with dashes
  // 4) remove everything but alphanumeric characters and dashes
  return value.toLowerCase().replace(/-+/g, '').replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '');
}

function process_video_data(video_data){
    var video_elements = [];
    video_data.forEach(function(video){
        var video_element = ['<li class="list-group-item">',
                    '<a href="../../show_video/'+ video.id +'">',
                    '<span class="badge">' + video.popularity + '</span>',
                    video.name,
                    '</a>'
        ];

        $.each(video.tags, function(id, tag_name){
            var badge = ['<span class="badge">',
                '<a href="../../video_search/{{ league }}/?search=' + slug(tag_name) + '" style="color: white;">' + tag_name + '</a>',
                '</span>'
            ];
           video_element.push(badge.join('\n'));
        });

        video_element.push('</li>');

        video_elements.push(video_element.join('\n'));
    });

    $('.list-group').html(video_elements.join('\n'))
}

function get_videos(search_string){
    $('.list-group').html('<span class="glyphicon glyphicon-refresh"></span>');
    $.ajax({
        url: '../../videos/?league={{ league }}',
        contentType: 'application/json',
        type: 'GET',
        dataType: 'json',
        data: {
            search: search_string
        }
    }).success(
            function(videos){
                process_video_data(videos)
            }
    ).error(
            function(r){
                console.log(r);
                alert(r);
            }
    );
}

$(document).ready(function(){
    var search_parameter = getURLParameter('search')
    $('.form-control').val(search_parameter)
    get_videos(search_parameter);
});


$('.form-control').on('keyup', function(event){
    get_videos($(this).val());
});

</script>
{% endblock %}
