{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'manual-provider.html' %}
        {% include 'each-provider.html' %}
    </div>
</div>
{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.panel').on('shown.bs.collapse', function(e){
            jQuery.cookie('cookie_collapse', jQuery(e.target).attr('id'));
        });

        var lastCollapse = jQuery.cookie('cookie_collapse');

        if (lastCollapse) {
            var lastCollapse = '#' + lastCollapse
            jQuery(lastCollapse).addClass('in');
        } else {
            jQuery('#collapseManual').addClass('in');
        }
    } );
</script>

{% endblock %}