{% extends 'base.html' %}

{% block content %}
<div class="col-sm-9">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingManual">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseManual" aria-expanded="true" aria-controls="collapseManual">
                        Manual
                    </a>
                </h4>
            </div>
            <div id="collapseManual" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingManual">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <td class="col-sm-1">Title</td>
                            <td class="col-sm-4">Progress</td>
                            <td class="col-sm-1">Status</td>
                        </thead>
                    {% for file in providerless %}
                        <tr>
                            <td>{{ file.title }}</td>
                            <td>
                                <div class="col-sm-9">
                                    <div class="progress">
                                        <div class="progress-bar
                                            {% if file.task.status == 'PROGRESS' %}
                                                progress-bar-info progress-bar-striped active
                                            {% elif file.task.status == 'FAILURE' %}
                                                progress-bar-danger
                                            {% elif file.task.status == 'SUCCESS' %}
                                                progress-bar-success
                                            {% else %}
                                                progress-bar-warning
                                            {% endif %}"
                                             role="progressbar" aria-valuenow="{{ file.percentage|floatformat }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em;width: {{ file.percentage|floatformat }}%;">
                                            {{ file.percentage|floatformat }}%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    ({{ file.downloaded_bytes|filesizeformat }}/{{ file.total_bytes|filesizeformat }})
                                </div>
                            </td>
                            <td>{{ file.task.status|lower|capfirst }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% for provider in providers %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ provider.provider_name|slugify }}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ provider.provider_name|slugify }}" aria-expanded="true" aria-controls="collapse{{ provider.provider_name|slugify }}">
                            {{ provider.provider_name }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ provider.provider_name|slugify }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ provider.provider_name|slugify }}">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <td class="col-sm-1">Title</td>
                                <td class="col-sm-4">Progress</td>
                                <td class="col-sm-1">Status</td>
                            </thead>
                        {% for file in provider.provider.all %}
                            <tr>
                                <td><small>{{ file.title }}</small></td>
                                <td>
                                    <div class="col-sm-9">
                                        <div class="progress">
                                            <div class="progress-bar
                                                {% if file.task.status == 'PROGRESS' %}
                                                    progress-bar-info progress-bar-striped active
                                                {% elif file.task.status == 'FAILURE' %}
                                                    progress-bar-danger
                                                {% elif file.task.status == 'SUCCESS' %}
                                                    progress-bar-success
                                                {% else %}
                                                    progress-bar-warning
                                                {% endif %}"
                                                 role="progressbar" aria-valuenow="{{ file.percentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em;width: {{ file.percentage|floatformat }}%;">
                                                {{ file.percentage|floatformat }}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        ({{ file.downloaded_bytes|filesizeformat }}/{{ file.total_bytes|filesizeformat }})
                                    </div>
                                </td>
                                <td>{{ file.task.status|lower|capfirst }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-3">
    <div class="row">
        <form method="POST" action="{% url 'smart-downloader' %}" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="add_title" class="col-sm-2">Title:</label>
                <div class="col-sm-10">
                    <input type="text" name="add_title" id='add_title' class="form-control" placeholder="My Video (optional)">
                </div>
            </div>
            <div class="form-group">
                <label for="add_url" class="col-sm-2">URL:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                         <input type="text" name="add_url" id='add_url' class="form-control" placeholder="http://...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> </button>
                        </span>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <h2>Mass Downloader</h2>
        <form method="POST" action="{% url 'smart-downloader' %}" >
            {% csrf_token %}
            <div class="col-sm-9">
            <textarea class="form-control" style="width:300px; height: 100px;" name="mass" placeholder="url1
url2
..."></textarea></div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-info pull-right"><span class="glyphicon glyphicon-floppy-save"></span> </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    $('.collapse').collapse()
</script>
{% endblock %}