{% extends 'base.html' %}

{% block content %}

    <h1>Queue</h1>
    {% if queue %}
        <table class="table table-stripped">
            <thead><tr><th>Name</th><th>Status</th></tr></thead>
            <tbody>
            {% for link in queue %}
                {% if link.links.0.status == 0 %}
                    <tr class="success">
                {% else %}
                    <tr class="error">
                {% endif %}
                    <td>
                        <strong>{{ link.links.0.name }}</strong>
                    </td>
                    <td>
                        <strong>{{ link.links.0.statusmsg }}</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else  %}
        <p>No files in the queue </p>
    {% endif %}
    <hr>
    <form class="form-inline" method="post">
        {% csrf_token %}
        <input type="text" name="add" placeholder="URL" style="width:50%">
        <button type="submit" class="btn">Request Download</button>
    </form>

    <form class="form-inline" method="post">
        {% csrf_token %}
        <input type="hidden" name="del">
        <button type="submit" class="btn btn-danger">Clear Finished</button>
    </form>

{% endblock %}